version: 2.1

orbs:
  aws-cli: circleci/aws-cli@5.1.1

jobs:
  test:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - run:
          name: Install deps
          command: |
            python -m venv .venv
            . .venv/bin/activate
            pip install -r requirements.txt
      - run:
          name: Lint
          command: |
            . .venv/bin/activate
            python -m ruff check .
      - run:
          name: Unit tests
          command: |
            . .venv/bin/activate
            pytest -q

  build_and_deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - setup_remote_docker

      - aws-cli/setup:
          aws_access_key_id: AWS_ACCESS_KEY_ID
          aws_secret_access_key: AWS_SECRET_ACCESS_KEY
          region: AWS_REGION

      - run:
          name: Build Docker image
          command: |
            docker build -t retail-etl:${CIRCLE_SHA1} .

      - run:
          name: Login to ECR
          command: |
            aws ecr get-login-password --region ${AWS_REGION} \
              | docker login --username AWS --password-stdin ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com

      - run:
          name: Tag & Push to ECR
          command: |
            docker tag retail-etl:${CIRCLE_SHA1} ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPO}:${CIRCLE_SHA1}
            docker push ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPO}:${CIRCLE_SHA1}

      - run:
          name: Run ECS Task (Fargate)
          command: |
            aws ecs run-task \
              --cluster ${ECS_CLUSTER} \
              --launch-type FARGATE \
              --network-configuration "awsvpcConfiguration={subnets=[${ECS_SUBNET_1},${ECS_SUBNET_2}],securityGroups=[${ECS_SECURITY_GROUP}],assignPublicIp=ENABLED}" \
              --task-definition ${ECS_TASK_DEFINITION} \
              --overrides "{
                \"containerOverrides\": [{
                  \"name\": \"${ECS_CONTAINER_NAME}\",
                  \"environment\": [
                    {\"name\":\"INPUT_URI\",\"value\":\"${INPUT_URI}\"},
                    {\"name\":\"SILVER_URI\",\"value\":\"${SILVER_URI}\"},
                    {\"name\":\"GOLD_URI\",\"value\":\"${GOLD_URI}\"}
                  ]
                }]
              }"

workflows:
  ci_cd:
    jobs:
      - test
      - build_and_deploy:
          requires:
            - test
          filters:
            branches:
              only: main
